@font-face {
    font-family: iosevka;
    src: url(/public/iosevka/Iosevka-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: iosevka;
    src: url(/public/iosevka/Iosevka-Italic.ttf) format("truetype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: iosevka;
    src: url(/public/iosevka/Iosevka-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: iosevka;
    src: url(/public/iosevka/Iosevka-SemiBoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}